@import 'normalize'

defineFont('Geometria Bold', 'GeometriaBold', 500, 'normal')
defineFont('Geometria Regular', 'GeometriaRegular', 400, 'normal')

*, *:before, *:after
  box-sizing border-box

html
  font-size $defaultFontSize
