defineFont('Roboto Light', 'Roboto-Light', 300, 'normal')
defineFont('Roboto Regular', 'Roboto-Regular', 400, 'normal')
defineFont('Roboto Medium', 'Roboto-Medium', 500, 'normal')

*, *:before, *:after
  box-sizing border-box

html
  font-size $defaultFontSize
