<!doctype html>
<html lang="ru">
<head>
  <title>Watchers shop</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body class="preload">
<main id="app" />
</body>
</html>
