
.nav
  background-color $darkerGray
  width 100%
  padding x(20) 10%

article
  margin-top x(50)
  padding x(50) 10%

h1
  font-family $fontLight
  font-weight 300
  font-size x(45)
  text-align center
  margin x(0)
  margin-bottom x(40)

section
  display flex
  align-items center
  margin-bottom x(20)

  img
    width x(400)
    margin-right x(40)

  h2
    font-weight 300
    font-size x(24)

  .details
    width 50%

