
centerColumn()
  display flex
  flex-direction column
  align-items center

main
  &.blur > *:not(.wrapper)
    filter blur(x(5))

header
  background-image url("../../../public/header-bg.png")
  background-size cover
  padding-top x(20)
  padding-bottom x(40)
  width 100%

  .container
    width 80%
    margin x(100) auto x(0)

    p.selfWritingText
      color $beige
      font-size x(16)
      height x(20)

    h1
      color $white
      font-family $fontLight
      font-size x(45)
      font-weight 300
      width x(600)

    img
      margin-top x(50)

  +media('mediumLaptop')
    div.container
      width 90%
      padding x(0) 5%
      margin-top x(80)

      h1,
      p.selfWritingText
        text-align center
        width auto

    img
      display block
      margin x(50) auto

    button.default
      margin x(0) auto
      margin-top x(100)

  +media('phonePortrait')
    div.container
      h1
        font-size x(30)

    img
      width 90%

button.default
a.default
  display block
  font-family $fontMedium
  font-weight 800
  font-size x(18)
  padding x(20) x(30)
  background-color $beige
  border none
  border-radius x(40)
  margin-top x(50)
  cursor pointer
  transition-duration .3s

  &:hover
    background-color #fff1c8
    transform scale(1.1)
    box-shadow x(0) x(5) x(10) x(1) rgba(0, 0, 0, 0.3)

section h2
  font-family $fontLight
  font-weight 300
  font-size x(45)
  text-align center
  margin x(0)
  margin-bottom x(40)

section.middle
  padding-top x(50)

  img
    background-image url("../../../public/lines.png")
    background-repeat no-repeat
    background-position 50% 40%
    background-size 95%

  div
    display flex
    justify-content center
    align-items center
    margin x(0) auto

  ul
    vertical-align top
    padding x(0)

    &:nth-child(3)
      padding-left x(0)

    &:nth-of-type(1)
      li
        text-align right

      button
        display inline-block

  li
    list-style-type none
    font-size x(20)
    opacity 0.6
    font-weight 400
    padding x(35) x(0)
    position relative
    top x(40)

    &.withButton
      opacity 1

    button
      margin x(0)

  +media('mediumLaptop')
    div
      flex-direction column
      position relative
      align-items flex-start
      padding-left 5%
      overflow hidden

    h2
      text-align center
      padding 0 5%
      width 90%
      margin x(0) auto

    img
      position absolute
      background-image none
      order 3
      z-index -1
      bottom x(0)
      left 60%
      height 100%

    li
      padding x(10)
      font-size x(20)

    ul
      width 60%

      &:first-of-type
        position relative
        bottom x(50)
        order 1

        li
          text-align left

      &:last-of-type
        li.withButton
          padding x(15)

        button
          display none

section.contacts
  display flex

  & > div
    display inline-block
    vertical-align top
    min-height x(580)
    padding-top x(50)

  div.containerLeft
    width 60%
    background-color $gray
    padding-left 10%

    img
      transition .3s

      &:hover
        filter hue-rotate(-50deg)

    div
      margin-bottom x(40)

    h2
      text-align left

    div p
      display inline-block
      vertical-align top
      margin x(0) x(0) x(0) x(15)
      font-family $fontLight
      font-weight 100
      font-size x(20)

    > p
      font-family $fontLight
      font-weight 100
      font-size x(25)
      width x(400)

      &.worksTime
        font-size x(20)
        background-color $darkGray
        color $white
        padding x(10) x(20)
        width x(250)
        margin x(5) x(0)

    h3
      font-family $fontLight
      font-weight 300
      font-size x(40)

  div.containerRight
    width 40%
    padding-left 8%
    background-image url("../../../public/section-contacts-bg.png")

    p
      display inline-block
      width 90%
      max-width x(400)
      font-weight 300
      color $white
      &:nth-of-type(1)
        font-size x(25)
        margin-top x(40)
      &:nth-of-type(2)
        font-size x(20)
        opacity 0.5

  a:not(.default)
    color $beige
    font-family $fontLight
    font-size x(40)
    text-decoration none
    border-bottom x(2) dashed $blurBeige
    padding-bottom x(20)

  a.default
    display inline-block
    text-decoration none
    color black

  +media('mediumLaptop')
    flex-direction column

    div
      &.containerLeft,
      &.containerRight
        width 100%
        padding x(50) 5%
        display flex
        flex-flow column nowrap
        align-items center
        text-align center

      &.containerLeft
        div p
          width 100%
          max-width x(400)
          margin-left x(0)

          &.worksTime
            width 100%
            max-width x(270)
            padding x(15) 5%

        p
          width 100%
          max-width x(400)

        h2
          text-align center

    a
      display block
      text-align center
      max-width x(380)
      margin x(0) auto

    button
      margin x(0) auto
      margin-top x(50)

  +media('phonePortrait')
    div.containerLeft
      h3
        font-size x(30)

    a
      font-size x(30)
      padding-bottom x(10)

.parallax
  height x(400)

  &:after
    content ''
    position absolute
    width 100%
    height 100%
    top x(0)
    left x(0)
    background-color $blurBlack

div.wrapper
  position fixed
  top 0
  left 0
  background-color rgba(0, 0, 0, 0.7)
  width 100%
  height 100%
  display flex
  align-items center
  justify-content center
  transition-duration .3s

  .modal
    position relative
    background-color white
    padding x(80) x(50)
    max-width x(400)
    width 100%
    centerColumn()

    .close
      position absolute
      top x(10)
      right x(10)
      background-color transparent
      border none
      cursor pointer
      font-size x(25)
      font-weight 500
      opacity 0.4
      transition .3s

      &:hover
        opacity 1

    a
      display block
      color black
      font-family $fontLight
      font-size x(30)
      text-decoration none
      border-bottom x(2) dashed $blurBlack
      padding-bottom x(5)
      margin-bottom x(30)

    form
      centerColumn()

    input
      margin-bottom x(20)
      padding x(5) x(10)
      font-size x(20)
      font-weight 300
      width 100%

    button.default
      width 100%
      margin-top x(30)

  +media('phonePortrait')
    .modal
      padding x(40) x(20)
      max-width x(300)

      a
        font-size x(24)

      form
        width 100%

      input
        font-size x(16)

      button.default
        margin-top x(10)
        padding x(10) x(15)

.hidden
  visibility hidden
  opacity 0

.nav
  transition background-color .3s

.fixed
  position fixed
  top x(0)
  padding x(0) 10%
  width 100%
  background-color rgba(0, 0, 0, 0.3)
