header
  background-image url("../../../public/header-bg.png")
  background-size cover
  padding-top x(20)

  nav
    width 80%
    margin 0 auto

    li
      color white
      display inline-block
      font-family $fontRegular

  nav img
    height auto
    width x(200)
